.logo {
  margin: 0 auto;
  margin-top: 20%;
  height: 15% !important;
  width: 15% !important;
}

.indomie {
  margin: 0 auto;
}
.paddingNone.row {
  padding: 0% !important;
}

.user-input {
  margin: 0 auto;
  width: 30% !important;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto !important;
}

.login-btn {
  width: 60%;
  margin: 0 auto;
}

.login-btn Button {
  width: 100%;
  background-color: #facb1b !important;
  border: none !important;
  color: black !important;
}

.social-media {
  width: 25%;
  margin: 0 auto;
  margin-top: 1%;
}

.social-media-icon {
  height: 50px;
  margin-right: 5%;
}

.sign-up {
  margin-left: 5%;
}

@media only screen and (max-width: 820px) {
  .user-input  {
    margin: 0 auto;
    width: 90% !important;
  }
  .social-media{
    width: 70%;
    margin-top: 5%;
  }
  .login-btn {
    width: 80%;
  }

  .logo {
    height: 40% !important;
    width: 40% !important;
  }
  .form-row {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto !important;
}
.social-media-icon {
  height: 40px;
  margin-right: 5%;
}

}


