.logo {
  margin: 0 auto;
  margin-top: 10%;
  height: 180px;
}

.indomie {
  margin: 0 auto;
}

.user-input {
  margin: 0 auto;
  width: 30% !important;
}

.login-btn {
  width: 30%;
  margin: 0 auto;
}

.login-btn Button {
  width: 100%;
  background-color: #facb1b !important;
  border: none !important;
  color: black !important;
}

.social-media {
  width: 30%;
  margin: 0 auto;
  margin-top: 1%;
}

.social-media-icon {
  height: 50px;
  margin-right: 5%;
}

.sign-up {
  margin-left: 5%;
}
