.Logo {
  $screen-sm-min: 768px;
  $screen-md-min: 992px;
  $screen-lg-min: 1200px;

  .logo {
    width: 250px;
    margin: 0 auto;
    margin-top: 10%;

  }


  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {}

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .logo {
      margin-top: 5%;

    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {}

}