.Register {
  .ant-form-item {
    width: 50%;
  }

  .ant-col {
    text-align: center;
  }

  .ant-row {
    margin: 0 auto;
  }

  .ant-btn {
    width: 100%;
  }
  button.ant-btn.ant-btn-primary{
    background-color: #FACB1B;
    border-color: #FACB1B;
    color: #000;
  }

  @media only screen and (max-width: 820px) {
    .ant-form-item {
      width: 70%;
    }
    button.ant-btn.ant-btn-primary{
      margin: 5% auto;
    }
  }
}
