.back-test {
  .ant-form {
    width: 100%;
  }

  [data-theme="compact"] .ant-advanced-search-form,
  .ant-advanced-search-form {
    padding: 24px;
    background: #fbfbfb;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
  }

  [data-theme="compact"] .ant-advanced-search-form .ant-form-item,
  .ant-advanced-search-form .ant-form-item {
    display: flex;
  }

  [data-theme="compact"]
    .ant-advanced-search-form
    .ant-form-item-control-wrapper,
  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }

  .time-line {
    background: white;
    padding: 24px;
  }

  .ant-col {
    margin-bottom: 10px;
  }

  .help {
    padding: 2%;
    margin-bottom: 5px;
  }
}
