.SideMenu {
  $screen-sm-min: 768px;
  $screen-md-min: 992px;
  $screen-lg-min: 1200px;

  .side-menu {
    height: 100px;
  }

  .logo {
    height: 30px;
    margin: 0 auto;
  }

  header.ant-layout-header.site-layout-background {
    background: #fff;
  }

  .side-menu {
    background: #fff;
  }

  .ant-layout-sider-children {
    background: #fff;
  }

  .ant-layout-sider-trigger {
    color: #000 !important;
    background: #facb1b !important;
  }

  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #facb1b !important;
    color: #000 !important;
  }

  .ant-menu-vertical .ant-menu-item::after,
  .ant-menu-vertical-left .ant-menu-item::after,
  .ant-menu-vertical-right .ant-menu-item::after,
  .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #000 !important;
  }

  .ant-menuitem .ant-menu-submenu-active {
    color: #facb1b !important;
  }

  .ant-layout-sider-collapsed {
    .logo {
      background: url("../../../assets/Images/robot.png") repeat 0 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 100%;
      height: 100%;
      display: flex;
    }
  }

  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
  }

  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) {
    .logo {
      height: 100%;
      display: flex;
    }
  }

  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) {
  }
}
